body{
  background-color: #aacfcf;
  font-family: 'Oswald', "黑體-繁","微軟正黑體",'Open Sans Condensed', 'Dancing Script', 'Noto Sans TC', 'Noto Serif TC', serif, sans-serif;
  text-align: center;
  margin: 0;
}

.text_input{
  height: 5rem;
  font-family: 'Oswald', "黑體-繁","微軟正黑體",'Open Sans Condensed';
  margin: 0rem;
  font-size: 1rem;
  flex: 40%;
}

.inputbox{
  display: flex;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 20vmin;
    margin-right: 5rem;
}
.send_btn1{
  opacity: 0.7;
  width: 6rem;
  font-family: 'Oswald';
  display: inline-block;
}

.send_btn2{
  opacity: 0.7;
  width: 6rem;
  font-family: 'Oswald';
  display: inline-block;
  margin-top: 0.5rem;
}

.showbox {
  background-color: #e8e4e1;
  color: #333333;
  margin-left: 15vmax;
  margin-right: 15vmax;
  height: 70vh;
  display: block;
  padding-left: 2rem;
  text-align: left;

}
.show{
  color: #333333;
  max-height: 70vh;
  overflow:auto;
}

.pageTitle{
  color: #333333;
  font-size: 3vmax;
  margin-top: 0rem;
}
.emailshow{
  color: #0f4c75;
}

.btnbox{
    flex: 10%;
    margin: 0;
    padding: 0;
}
